---
layout: default
name: post
---

<div class="post-page">
  <div class="post-content">
    <div class="post-info">
      <img src="{{ site.data.user.avatar }}" class="avatar" alt="avatar"/>
      <span class="published-date">Published on {{ page.date | date: "%b %d, %Y" }}</span>
    </div>
    <h1 class="post-page-title">{{ page.title }}</h1>
    {{ content }}
    <div class="tags post-tags">
      {% for tag in page.tags %}
        {% include partials/tag.html %}
      {% endfor %}
    </div>
    <div class="related-posts">
      <h3>Read more</h3>
      <div class="posts">
        {% for post in site.related_posts limit:2 %}
          {% include partials/post.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="post-content-sections">
    <div class="section">
      {% toc %}
      <span id="scrollToTop">Back to top</span>
      <span id="scrollToBottom">Go to bottom</span>
    </div>
  </div>
</div>

<script src="/assets/javascript/post.js"></script>
