// Breakpoints
$xxl: 1400px !default;
$xl: 1200px !default;
$lg: 992px !default;
$md: 768px !default;

// Text
$body-text-color: #333333 !default;
$light-text-color: #767676 !default;
$white-text-color: #ffffff !default;
$heading-text-color: #363636 !default;
$body-link-color: #1e6bb8 !default;
$description-text-color: #4a4a4a !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f7f7f7 !default;
$code-text-color: #323332 !default;

// Tag
$tag-text-color: #fe7171 !default;
$tag-bg-color: #ffebeb !default;

// Borders
$border-color: #b7b7b7 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Box shadow
$box-shadow-color: rgba(10,10,10,.1) !default;
$box-shadow-color-highlight: #485fc7 !default;

// Background
$page-bg-color: #ffffff !default;
$content-bg-color: #ffffff !default;
$table-header-bg-color: #f8f8f8 !default;
